In [18]:
import pandas as pd
import zipfile
import kaggle

In [19]:
# api kaggle para download do dataset
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [20]:
# extraindo arquivo da pasta .zip baixada
with zipfile.ZipFile('london-bike-sharing-dataset.zip', 'r') as file:
    file.extractall()

In [21]:
# criando um dataframe com pandas a partir do arquivo csv
bikes = pd.read_csv("london_merged.csv")

In [22]:
# explorando os dados
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [23]:
# rows & columns || linhas & colunas
bikes.shape

(17414, 10)

In [24]:
bikes.head(100)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
95,2015-01-08 00:00:00,123,11.0,11.0,82.0,26.0,4.0,0.0,0.0,3.0
96,2015-01-08 01:00:00,56,11.5,11.5,85.0,24.0,3.0,0.0,0.0,3.0
97,2015-01-08 02:00:00,51,12.0,12.0,82.0,25.0,3.0,0.0,0.0,3.0
98,2015-01-08 03:00:00,33,12.0,12.0,85.0,22.0,3.0,0.0,0.0,3.0
99,2015-01-08 04:00:00,32,12.0,12.0,88.0,20.5,7.0,0.0,0.0,3.0

In [25]:
bikes['weather_code'].value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [26]:
bikes['season'].value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [27]:
# renomeando colunas com dicionÃ¡rio personalizado
new_columns = {
    'timestamp':'time', 
    'cnt':'count', 
    't1':'temp_real_C', 
    't2':'temp_feels_like_C', 
    'hum':'humidity_percent', 
    'wind_speed':'wind_speed_kph', 
    'weather_code':'weather', 
    'is_holiday':'is_holiday', 
    'is_weekend':'is_weekend', 
    'season':'season'    
}

bikes.rename(new_columns, axis=1, inplace=True)

In [28]:
# checando o nome das colunas alteradas
bikes.columns.values

array(['time', 'count', 'temp_real_C', 'temp_feels_like_C',
       'humidity_percent', 'wind_speed_kph', 'weather', 'is_holiday',
       'is_weekend', 'season'], dtype=object)

In [29]:
# alterando valores de humidade para percentual
bikes['humidity_percent'] = bikes['humidity_percent']/100

In [30]:
# criando um dicionÃ¡rio personalizado para alterar os valores int de 'season' para str conforme escrito na documentaÃ§Ã£o
season_dict = {
    '0.0':'Spring',
    '1.0':'Summer',
    '2.0':'Autumn',
    '3.0':'Winter'
}

# criando um dicionÃ¡rio personalizado para alterar os valores int de 'weather' para str conforme escrito na documentaÃ§Ã£o
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

# mudando tipo de dados para string e atualizando valores
bikes['season'] = bikes['season'].astype('str')
bikes['season']  = bikes['season'].map(season_dict)

# mudando tipo de dados para string e atualizando valores
bikes['weather'] = bikes['weather'].astype('str')
bikes['weather'] = bikes['weather'].map(weather_dict)

In [31]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter

In [32]:
# exportando versÃ£o final DataFrame para arquivo .xlsx
bikes.to_excel('london_bikes_final.xlsx', sheet_name = 'Data')